## CONTENT BASED

In [69]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import TfidfVectorizer

In [70]:
movies_df=pd.read_csv('movies.csv')
ratings_df=pd.read_csv('ratings.csv')

In [71]:
movies_df.head(5)

,movie_id,title,genres,description,year,avg_rating
0,1,Day 1,"Action, Romance, Thriller",A epic action romance thriller movie from 1991.,1991,6.7
1,2,Legend 3,"Animation, Documentary, Mystery","A inspirational, terrifying, thought-provoking...",1991,5.2
2,3,hilarious Time,"Animation, Horror","A heartwarming, heartbreaking, suspenseful ani...",2007,7.1
3,4,The Mystery of Enemy,"Mystery, Documentary","A mysterious, heartwarming, hilarious mystery ...",1990,4.7
4,5,romantic Dragon,"Documentary, Adventure, Thriller","A thrilling, heartbreaking, mysterious documen...",1996,8.5

In [72]:
ratings_df.head(5)

   user_id  movie_id  rating
0      361        95       5
1      147        82       5
2       26        64       5
3      308        38       5
4       93        88       5

In [73]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   movie_id     100 non-null    int64
 1   title        100 non-null    object
 2   genres       100 non-null    object
 3   description  100 non-null    object
 4   year         100 non-null    int64
 5   avg_rating   100 non-null    float64
dtypes: float64(1), int64(2), object(3)
memory usage: 4.8+ KB

In [74]:
movies_df.columns

Index(['movie_id', 'title', 'genres', 'description', 'year', 'avg_rating'], dtype='object')

In [75]:
# 1. tent fitur yang diperlukan

# join genres & description
movies_df['content'] = movies_df['genres'] + ' ' + movies_df['description']

movies_df['content']

0     Action, Romance, Thriller A epic action romanc...
1     Animation, Documentary, Mystery A inspirationa...
2     Animation, Horror A heartwarming, heartbreakin...
3     Mystery, Documentary A mysterious, heartwarmin...
4     Documentary, Adventure, Thriller A thrilling, ...
                            ...
95    Sci-Fi, Mystery A action-packed sci-fi mystery...
96    Adventure, Fantasy, Romance A epic adventure f...
97    Sci-Fi, Crime A thought-provoking, heartwarmin...
98    Mystery, Adventure A terrifying mystery advent...
99    Thriller, Drama, Documentary A emotional, myst...
Name: content, Length: 100, dtype: object

In [76]:
# buat vectorize
tfidf = TfidfVectorizer(stop_words='english')
tfidf

TfidfVectorizer(stop_words='english')

In [77]:
tfidf_matrix = tfidf.fit_transform(movies_df['content'])

print(tfidf_matrix)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 640 stored elements and shape (100, 63)>
  Coords	Values
  (0, 33)	0.4530733228586782
  (0, 55)	0.5588046704536421
  (0, 61)	0.5035056689738758
  (0, 42)	0.26737274164033525
  (0, 50)	0.0961113096281574
  (0, 1)	0.3849914010643004
  (1, 50)	0.08333865390876785
  (1, 1)	0.3338281962370601
  (1, 35)	0.5217356202535548
  (1, 38)	0.4636807981581032
  (1, 52)	0.42070653634263605
  (1, 49)	0.2142301836541448
  (1, 59)	0.27606224324853657
  (1, 60)	0.21829629026001307
  (1, 54)	0.21829629026001307
  (2, 50)	0.09356920040211962
  (2, 35)	0.5857832172556005
  (2, 48)	0.5099051253423206
  (2, 46)	0.2720122449564403
  (2, 45)	0.26030082975041774
  (2, 58)	0.26030082975041774
  (2, 17)	0.42260606351975566
  (3, 50)	0.09829390247162921
  (3, 38)	0.5468890246537177
  (3, 52)	0.49620296600554237
  :	:
  (96, 50)	0.09164159585431511
  (96, 34)	0.5098768256651746
  (96, 43)	0.5098768256651746
  (96, 13)	0.3503789079305001
  (97, 50)	0.07960360079132568
  (97, 60)	0.2085127360361316
  (97, 54)	0.2085127360361316
  (97, 46)	0.2314132648864044
  (97, 37)	0.4856092146329569
  (97, 57)	0.512205427965131
  (97, 44)	0.512205427965131
  (97, 2)	0.3043533065153063
  (98, 50)	0.10974383962612264
  (98, 52)	0.5540040364053727
  (98, 59)	0.36353035631053876
  (98, 34)	0.6105943492497641
  (98, 28)	0.4195903216420277
  (99, 61)	0.4471679327203559
  (99, 50)	0.08535732224238186
  (99, 38)	0.4749122939916129
  (99, 58)	0.23745614699580644
  (99, 51)	0.22358396636017794
  (99, 41)	0.23257725784680652
  (99, 39)	0.5080575689714796
  (99, 8)	0.38551704824254474

In [78]:
tfidf.get_feature_names_out()

array(['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997',
       '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023', 'action', 'adventure', 'animation', 'comedy', 'crime',
       'documentary', 'drama', 'dramatic', 'emotional', 'epic', 'fantasy',
       'fi', 'heartbreaking', 'heartwarming', 'hilarious', 'horror',
       'inspirational', 'movie', 'mysterious', 'mystery', 'packed',
       'provoking', 'romance', 'romantic', 'sci', 'suspenseful',
       'terrifying', 'thought', 'thriller', 'thrilling'], dtype=object)

In [79]:
tfidf_matrix.shape

(100, 63)

In [80]:
cosine_sim = cosine_similarity(tfidf_matrix)
cosine_sim

array([[1.        , 0.13653077, 0.00899306, ..., 0.00765081, 0.01054762,
        0.23335539],
       [0.13653077, 1.        , 0.3134219 , ..., 0.09766917, 0.34257603,
        0.22732128],
       [0.00899306, 0.3134219 , 1.        , ..., 0.07039569, 0.01026864,
        0.06979685],
       ...,
       [0.00765081, 0.09766917, 0.07039569, ..., 1.        , 0.008736  ,
        0.00679475],
       [0.01054762, 0.34257603, 0.01026864, ..., 0.008736  , 1.        ,
        0.00936744],
       [0.23335539, 0.22732128, 0.06979685, ..., 0.00679475, 0.00936744,
        1.        ]])

In [81]:
# RECOMMENDER SYSTEM -> input movie id, output 5 recommended movie

def content_based_recommender(movies_df, movie_id = None, top_n=5):

    # buat feature genre & desc
    movies_df['content'] = movies_df['genres'] + ' ' + movies_df['description']

    # convert text to tf-idf
    tfidf = TfidfVectorizer(stop_words='english')
    tfidf_matrix = tfidf.fit_transform(movies_df['content'])

    cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)
    
    idx=movies_df[movies_df['movie_id']==movie_id].index[0]


    # get similarity score
    score = list(enumerate(cosine_sim[idx]))
    score = sorted(score, key=lambda x:x[1], reverse=True)
    score = score[1:top_n+1]
    
    # get movie indices
    movie_idx = [i[0] for i in score]

    # movie recommendation
    recommendation = movies_df.iloc[movie_idx][['movie_id', 'title', 'genres', 'avg_rating']]
    recommendation['similarity_score'] = [ i[1] for i in score]

    return recommendation

In [82]:
test_movie_id = 5
content_recommend = content_based_recommender(movies_df, test_movie_id)

content_recommend

,movie_id,title,genres,avg_rating,similarity_score
54,55,Agent 2,"Documentary, Thriller",6.5,0.536868
65,66,The emotional Detective,"Documentary, Thriller",6.3,0.506014
99,100,The heartbreaking Princess,"Thriller, Drama, Documentary",6.1,0.485518
29,30,thought-provoking Quest 2,"Action, Adventure, Thriller",7.2,0.472061
83,84,The Time of Space,"Drama, Adventure, Documentary",6.5,0.452947

## COLLABORATIVE BASED

1. item based : berdasarkan item serupa yang disukai user
2. user based : rekomen item dari user lain yang memiliki pola serupa

In [83]:
ratings_df = pd.read_csv('ratings.csv')

ratings_df.head(5)

   user_id  movie_id  rating
0      361        95       5
1      147        82       5
2       26        64       5
3      308        38       5
4       93        88       5

In [84]:
# ratings_df['movie_id'].count()
# ratings_df['user_id'].count()

In [85]:
ratings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2426 entries, 0 to 2425
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   user_id   2426 non-null   int64
 1   movie_id  2426 non-null   int64
 2   rating    2426 non-null   int64
dtypes: int64(3)
memory usage: 57.0 KB

In [86]:
user_item_matrix = ratings_df.pivot(index='user_id', columns='movie_id',values='rating').fillna(0)
user_item_matrix

movie_id,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
496,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
497,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
499,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [87]:
# transpose = .T
item_sim = cosine_similarity(user_item_matrix.T, user_item_matrix.T)

In [88]:
# movie yang sekiranya orang lain suka
item_sim

array([[1.        , 0.11901871, 0.13042439, ..., 0.10444261, 0.02435222,
        0.05354142],
       [0.11901871, 1.        , 0.048232  , ..., 0.        , 0.07564746,
        0.08870423],
       [0.13042439, 0.048232  , 1.        , ..., 0.10043239, 0.13816138,
        0.09720484],
       ...,
       [0.10444261, 0.        , 0.10043239, ..., 1.        , 0.02625316,
        0.11544174],
       [0.02435222, 0.07564746, 0.13816138, ..., 0.02625316, 1.        ,
        0.09528554],
       [0.05354142, 0.08870423, 0.09720484, ..., 0.11544174, 0.09528554,
        1.        ]])

In [89]:
# tabel 2D
# baris & kolom = nama movie
# nilai = tingkat kesamaan 2 film

movie_sim_df = pd.DataFrame(item_sim, index=user_item_matrix.columns, columns= user_item_matrix.columns)

In [90]:
def item_based_recommend(movie_id=None, top_n=5):

    # cek movie ID ada di dataset/tdk
    if movie_id not in movie_sim_df.index:
        return f"Movie ID {movie_id} not found"
    
    # get similarity score
    sim_scores = movie_sim_df[movie_id].sort_values(ascending=False)[1:top_n+1]
    recommended_movies = movies_df[movies_df['movie_id'].isin(sim_scores.index)][['movie_id', 'title', 'genres', 'avg_rating']]
    recommended_movies['similarity_score'] = sim_scores.values

    return recommended_movies

In [91]:
test_mov_id= 55
item_based = item_based_recommend(test_mov_id)
item_based

,movie_id,title,genres,avg_rating,similarity_score
35,36,The thought-provoking Time,Fantasy,7.8,0.191450
45,46,mysterious Dream,"Horror, Mystery",7.7,0.187451
60,61,heartbreaking Warrior 1,Crime,4.9,0.183778
86,87,The action-packed Life,"Adventure, Mystery, Animation",7.5,0.148225
88,89,Love 4,Action,2.2,0.142134

### user based

In [92]:
# bentuk matrix user & item 

user_item_matrix = ratings_df.pivot(index='user_id', columns='movie_id', values='rating').fillna(0)
user_item_matrix

movie_id,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
496,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
497,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
499,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [93]:
# 2. hitung kesamaan antar user

from sklearn.metrics.pairwise import cosine_similarity

user_sim = cosine_similarity(user_item_matrix)
user_sim_df = pd.DataFrame(user_sim, index=user_item_matrix.index, columns=user_item_matrix.index)

user_sim

array([[1.        , 0.        , 0.18823674, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.        , ..., 0.30527459, 0.        ,
        0.        ],
       [0.18823674, 0.        , 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.30527459, 0.        , ..., 1.        , 0.30395277,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.30395277, 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [94]:
user_sim_df

user_id,1,2,3,4,5,6,7,8,9,10,...,490,491,492,493,494,495,496,497,499,500
user_id,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.000000,0.188237,0.000000,0.000000,0.00,0.252982,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.368230,0.000000,0.000000,0.000000
2,0.000000,1.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.488678,0.000000,...,0.000000,0.0,0.266596,0.000000,0.000000,0.000000,0.000000,0.305275,0.000000,0.000000
3,0.188237,0.000000,1.000000,0.000000,0.091608,0.00,0.293660,0.000000,0.000000,0.202981,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.173286,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,1.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,...,0.193552,0.0,0.000000,0.307729,0.000000,0.207323,0.000000,0.000000,0.000000,0.000000
5,0.000000,0.000000,0.091608,0.000000,1.000000,0.00,0.000000,0.197450,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.048301,0.000000,0.000000,0.089300,0.229416
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,0.000000,0.000000,0.000000,0.207323,0.048301,0.00,0.000000,0.028992,0.000000,0.000000,...,0.105938,0.0,0.000000,0.168430,0.000000,1.000000,0.000000,0.000000,0.458930,0.000000
496,0.368230,0.000000,0.173286,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
497,0.000000,0.305275,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.624695,0.000000,...,0.000000,0.0,0.425999,0.000000,0.349215,0.000000,0.000000,1.000000,0.303953,0.000000
499,0.000000,0.000000,0.000000,0.000000,0.089300,0.00,0.000000,0.167506,0.000000,0.071232,...,0.000000,0.0,0.212353,0.000000,0.174078,0.458930,0.000000,0.303953,1.000000,0.000000
500,0.000000,0.000000,0.000000,0.000000,0.229416,0.15,0.000000,0.215166,0.000000,0.000000,...,0.209657,0.0,0.272772,0.250000,0.178885,0.000000,0.000000,0.000000,0.000000,1.000000

In [95]:
ratings_df.columns

Index(['user_id', 'movie_id', 'rating'], dtype='object')

In [ ]:
def user_based_recommendation(user_id, top_n=5):
    # cek user id ada di dataset?
    if user_id not in user_item_matrix.index:
        return f"user ID {user_id} not found in dataset"
    
    # 1. get skor kesamaan user_id
    sim_scores = user_sim_df[user_id].sort_values(ascending=False)[1:top_n+1]  # kec dirinya sendiri

    # 2. get user mirip
    sim_user = sim_scores.index[:top_n]

    # 3. ambil rating dari user yang mirip
    sim_user_ratings = ratings_df[ratings_df['user_id'].isin(sim_user)]

     # 4. hitung rata-rata rating tiap film yang belum ditonton user_id
    user_movies = ratings_df[ratings_df['user_id'] == user_id]['movie_id']
    recommendations = (
        # film blm ditonton
        sim_user_ratings[~sim_user_ratings['movie_id'].isin(user_movies)]
        .groupby('movie_id')
        .agg({'rating': 'mean'})
        .reset_index()
    )
    recommendations.columns = ['movie_id', 'rating']


    # 5. gabung dengan detail film
    recommendations = recommendations.merge(movies_df, on='movie_id')
    recommendations = recommendations.sort_values(by='rating', ascending=False).head(top_n)

    return recommendations[['movie_id', 'title', 'genres', 'rating']]

In [ ]:
test_user_id = 5
user_rec = user_based_recomme                                                                                                                   ndation(test_user_id)
user_rec

   movie_id                      title                       genres  rating
0        13         The dramatic Agent       Crime, Comedy, Fantasy     5.0
1        30  thought-provoking Quest 2  Action, Adventure, Thriller     5.0
3        81    thought-provoking Heart                        Crime     5.0
4        97    The hilarious Adventure  Adventure, Fantasy, Romance     5.0
2        31        suspenseful Mystery               Crime, Romance     4.0